body{
	/*background-image: url("../source/welcome1024.jpg");
	background-repeat: no-repeat;*/
	background-color:#f6f1ee;
	;
}

@font-face{
    font-family: "kiona";
    src:url("../source/font/Kiona.ttf")
}

@font-face{
    font-family: "b612";
    src:url("../source/font/B612.ttf")
}

.welcome-image{
	background-image: url("../source/welcomeNew.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
    height:95vh;
    top:0;
    left:0;
    right:0;
    position:absolute;
    animation:opening 2s;
}

@keyframes opening{
    0%{
        transform: translate(0,30px);
        filter: opacity(0%);
    }
    100%{
        transform: translate(0,0);
        filter: opacity(100%);
    }
}

.wrapper{
	
}

.logo-navbar{
	top:0;
    max-width: 100%;
   	background:-moz-linear-gradient(rgb(128, 128, 128), rgba(255, 255, 255, 0));
   	/*background-color: rgba(128,128,128,0.5);*/
}

/*RCD*/
/*
.site-logo{
    margin-left:0;
    display: inline;
}
.site-logo-btn{
    filter:invert(100%);
}

.site-nav-menu{
    list-style: none;
    letter-spacing: 1px;
    padding-left:0;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}
.site-nav-menu li{
    display: inline-block;
    margin-right: 5px;
}
.site-nav-menu li a{
    color:white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    font-size:1em;
}
*/
/*RCD*/

/*New Nav*/
.site-header{
    width: 100%;
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 1;
}
#site-header-primary{
    position: fixed;
    z-index: 1;
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    transition:0.2s;
    vertical-align: middle;
    background-image: linear-gradient(rgb(246, 241, 238), rgba(255, 255, 255, 0));
}
.site-nav{
    position: absolute;
    right:0;
    top:0;
    display:block;
}
.site-nav-menu{
    list-style: none;
    letter-spacing: 0.2em;
    font-size:0.9rem;
}
.site-nav-menu li{
    display: inline-block;
}
.site-nav-menu li a{
    color:black;
    text-decoration: none;
    padding: 0.5em 0.5em;
    line-height: 2;
    font-family: "kiona";
}

@media only screen and (max-width: 1600px){
    .site-logo{
        margin-left: auto;
        margin-right: auto;
    }
    .site-nav{
        position: relative;
    }
    .container{
        text-align: center;
    }
}
.container{
    width: 60%;
    margin:auto;
    position: relative;
}
.site-logo{
    display:block;
    width: 300px;
    transition:0.2s;
}
.site-logo-btn{
    width: 100%;
}
/*New Nav*/
footer{
    width:100%;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}
.footer-container{
    width:65%;
    margin:auto;
    position: relative;
}
.fixFooter{
    position: fixed;
    z-index:1;
    background-color:rgb(250,247,246);
	color:black;
	width: 100%;
	padding-top: 5px;
	font-family: sans-serif;
    bottom:0;
}

.footerlogo{
    display:inline-block;
}
.footer-menu-wrap{
    display:inline-block;
    position: absolute;
    right:0;

}
.footer-menu{
	margin-top:5px;
	list-style: none;
    letter-spacing: 1px;
}

.footer-menu li{
	display:inline;
	margin-right:10px;
	font-size: 14.8px;
	font-family: "kiona";
	font-weight: bold;
	margin-left: 15px;
}

.open-image{
    min-height: 100vh;
}
.content-box{
    margin-left:auto;
    margin-right: auto;
    width:1100px;
    font-family: "b612";
    opacity: 0;
    transform: translateY(50px);
    transition:1s;
}
.content-box p{
    line-height: 2;
    color:rgb(125,125,125);
}
.content-box h1{
    font-family:"kiona";
    letter-spacing: 0.2rem;
}
.left-column{
	display: inline-block;
	float:left;
	width:50%;
	box-sizing:border-box;
	text-align: justify;
}

.rest-address{
	color:black;
	list-style-type: none;
	font-family: "b612";
}

.hours-loc{
	color:black;

}
.hours-loc h1{
	margin-bottom:0px;
}


.opening-time{
	margin-top:0px;
	color:black;
	list-style-type: none;
	margin-left:0px;
	font-family: "b612";
}

.content-box label{
	color:black;
	position:relative;
	font-family: "b612";
}

.reserve-button a{
	color:white;
	position:absolute;
	padding: 10px;
	text-decoration: none;
	margin-top:20px;
	border: 2px solid black;
	background-color: black; 
	border-radius: 6px;
	transition:0.2s;
	font-family: "b612";
}

.reserve-button a:hover{
	color:black;
	background-color:white;
}

.about-us h1{
	color:black;
	margin-bottom:0px;
}

.about-us p{
	font-weight: normal;
	font-size:17px;
}

.accolades h1{
	color:black;
	margin-bottom:0px;
}


.accolades p{
	font-weight: normal;
	font-size:17px;
}

.badges{
	display:inline;
    margin-right: 10px;
}
.zoom-image{
    transition:0.2s;
    width:100px;
}
#awrd1:hover{
    width:130px;
}
#awrd2:hover{
    width:130px;
}
h1::after{
    content:"";
    display:block;
    width: 40px;
    height: 3px;
    background:black;
    margin: 1rem auto 2rem 0;
}

.last{
    margin-bottom: 100px;
}